<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tap's Merchant Site</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="app"></div>

<!-- React -->
<script src="https://unpkg.com/react@15.4.1/dist/react-with-addons.js"></script>
<script src="https://unpkg.com/react-dom@15.4.1/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-standalone@6.19.0/babel.min.js"></script>

<!-- Libs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.js"></script>

<!-- App/Components -->
<script type="text/babel" src="/js/error.js"/>

</body>
</html>